@model MVC2022.Models.Lanche

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lanche</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LancheNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LancheNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LancheDescricaoCurta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LancheDescricaoCurta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LancheDescricaoDetalhada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LancheDescricaoDetalhada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LanchePreco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LanchePreco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LancheImagemUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LancheImagemUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LancheImagemThumbnailUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LancheImagemThumbnailUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsLanchePreferido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsLanchePreferido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmEstoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmEstoque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.CategoriaDescricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LancheId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
